<mat-card appearance="outlined" style="width: 70%; margin: 50px auto;">
    <mat-card-header>
        <mat-card-title><p>Lista empleados</p></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-flat-button color="primary" (click)="nuevo()">Nuevo Empleado</button>
        <table mat-table [dataSource]="listaEmpleados" class="mat-elevation-z2" style="margin-top: 20px;">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="clave_Trabajador">
              <th mat-header-cell *matHeaderCellDef> Clave </th>
              <td mat-cell *matCellDef="let element"> {{element.clave_Trabajador}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="area_Name">
              <th mat-header-cell *matHeaderCellDef> Area </th>
              <td mat-cell *matCellDef="let element"> {{element.area_Name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button color="primary" (click)="editar(element)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="eliminar(element)">
                        <mat-icon>delete</mat-icon>
                      </button>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
    </mat-card-content>
  </mat-card>